*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgba(116, 116, 116, 0.842);
}

nav{
    box-shadow: 2px 2px 20px rgba(151, 151, 151, 0.541);
}
/* About start here */

.about{
    
    text-align: center;
    margin-top: 100px;
    position: relative;
    height: fit-content;
    /* background-color: pink; */
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(151, 151, 151, 0.541);

    animation: animate ease-in;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    /* @media screen and (max-width:600px) {
    
    } */
}

.heading{
    font-size: 35px;
    width: fit-content;
    margin:auto;
}
.about p{
    margin: 10px;
    font-size: 25px;
}
.about-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: blue; */
}
.ab-img{
    width: 500px;
    height: 350px;
    border-radius: 10px;
    @media  screen and (max-width:1000px) {
        height: 300px;
    width: 400px;
    }
    @media  screen and (max-width:430px) {
        height: 180px;
    width: 290px;
    margin: auto;
    }
}
.about-img{
    width: 500px;
    height: 350px;
    
    /* background-color: orange; */
    margin-top: 20px;
    @media  screen and (max-width:1000px) {
        height: 300px;
    width: 400px;
    }
    @media  screen and (max-width:430px) {
        height: 180px;
    width: 290px;
    margin: auto;
    }
}
.about-para{
    height: fit-content;
    width: 500px;
        /* background-color: red; */
        margin-top: 20px;
        @media  screen and (max-width:430px) {
            width: 90vw;
            margin: auto;
        }
}
.about-para p{
    @media  screen and (max-width:430px) {
       font-size: 16px;
    }
}
/* About End Here */

/* Event Start Here */
.event{
    margin-top: 100px;
    text-align: center;
}

/* Team start Here */
.team{
    text-align: center;
    margin-top: 100px;
}
.team-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    margin-top: 35px;
    animation: animate ease-in;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    box-shadow: 1px 1px 15px rgba(151, 151, 151, 0.541);

}



#headerCarousel {
    height: fit-content;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(88, 88, 88, 0.541);

    @media screen and (max-width:450px) {
        top: 150px;
        margin-bottom: 300px;
        
    }
}
@keyframes animate {
    from{
        transform: translateY(100px );
        opacity: 0;
        scale: 0.2;
    }
    to{
        transform: translateY(0px);

        opacity: 1;
        scale: 1;
    }
}


.carousel-image {
    filter: brightness(50%) saturate(140%);
}


.carousel-content {
    position: absolute;
    bottom: 45%;
    font-size: 50px;
    left: 40%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    
    @media screen and (max-width:500px) {
        font-size: 25px;   
        bottom: 35%;     
    }

  }